@model ClinicManagementSystem.Models.Patient

<h2 class="mb-4 text-primary fw-bold">
    Add Patient
</h2>

<div class="card shadow-lg border-0 rounded-4">

    <div class="card-body p-4">

        <form asp-action="Create">

            <div class="mb-3">

                <label class="form-label">
                    Full Name
                </label>

                <input asp-for="FullName"
                       class="form-control" />

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Gender
                </label>

                <select asp-for="Gender"
                        class="form-select">

                    <option value="">
                        -- Select Gender --
                    </option>

                    <option value="M">
                        Male
                    </option>

                    <option value="F">
                        Female
                    </option>

                </select>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Date Of Birth
                </label>

                <input asp-for="DateOfBirth"
                       type="date"
                       class="form-control" />

            </div>

            <button class="btn btn-success px-4">
                Save
            </button>

        </form>

    </div>

</div>